In [4]:
dic = {
    "name" : ["sayma","akib", "omor"],
    "age" : [19,20,21]
}
dic

{'name': ['sayma', 'akib', 'omor'], 'age': [19, 20, 21]}

In [2]:
import pandas as pd

In [ ]:
# !pip install pandas

In [5]:
df = pd.DataFrame(dic)
df

    name  age
0  sayma   19
1   akib   20
2   omor   21

In [6]:
dic

{'name': ['sayma', 'akib', 'omor'], 'age': [19, 20, 21]}

In [7]:
dic.keys()

dict_keys(['name', 'age'])

In [8]:
dic.values()

dict_values([['sayma', 'akib', 'omor'], [19, 20, 21]])

In [17]:
#problem 1 
d = {"one": 1, "two": 2, "zero": 0, "four": 4}
val = list(d.values())
val.sort()
val
for value in val:
    #print(value)
    for key in d:
        #print(key)
        if d[key] == value:
            print(key , value)

zero 0
one 1
two 2
four 4

In [15]:
d = {}
d["name"] = "sajib"
d

{'name': 'sajib'}

In [19]:
d =  {0: 10, 1: 20} # problem 2
d["age"] = 20
d

{0: 10, 1: 20, 'age': 20}

In [21]:
dic1={1:10, 2:20} # problem 3
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic4 = {}
for i in (dic1,dic2,dic3):
    #print(i)
    dic4.update(i)
dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [24]:
dic45 = {}
dic45 .update(dic1)

{1: 10, 2: 20}

In [25]:
dic445= dic1 + dic3
dic445

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [28]:
a= {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} # task key matching 

ke = 2
for key in a:
    #print(key)
    if key == ke:
        print("already exists")
        break
    else:
        print("not bale to find")

not bale to find
already exists

In [35]:
a= {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} # task key matching 
n = 3


for i,j in a:
    found = False
    if i ==n:
        found = True
        break
if found:
    print("matches here with ")
else:
    print("doot match")

matches here

In [33]:

d = {"one": 1, "two": 2, "zero": 0, "four": 4} # problem 5
val = list(d.values())
val.sort()
val
for value in val:
    #print(value)
    for key in d:
        print(key)
        if d[key] == value:
            print("matches", key , value)

one
two
zero
matches zero 0
four
one
matches one 1
two
zero
four
one
two
matches two 2
zero
four
one
two
zero
four
matches four 4

In [34]:
a= {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} # task key matching 
for i , j in a.items():
    print(i ,"--------", j)

1 -------- 10
2 -------- 20
3 -------- 30
4 -------- 40
5 -------- 50
6 -------- 60

In [36]:
n = 6
dic = {}
for i in range(1, n):
    dic[i]= i*i
dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [38]:
#problem 8 Write a Python script to merge two Python dictionaries.
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

dic = {**d1, **d2}
dic

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [39]:
my_dict = {'data1': 100, 'data2': -54, 'data3': 247} # problem 10
su= 0

for key , value in my_dict.items():
    su = su + value
print(su)

293

In [40]:
# problem 12  Write a Python program to remove a key from a dictionary
myDict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

if "b" in myDict:
    del myDict["b"]
myDict

{'a': 1, 'c': 3, 'd': 4}

In [42]:
# problem 13

keys = ['red', 'green', 'blue']
values = ['#FF0000', '#008000', '#0000FF']

new = dict(zip(keys, values))
new

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [43]:
dic = {'red': '#FF0000',  # problem 14
       'green': '#008000', 
       'blue': '#0000FF'}

dic = sorted(dic.items())
dic

[('blue', '#0000FF'), ('green', '#008000'), ('red', '#FF0000')]

In [ ]:
#problem 15 home work 
my_dict = {'x': 500, 'y': 5874, 'z': 560,'s': 400,'t': 800,}

In [44]:
# 16. Write a Python program to get a dictionary from an object's fields
class new_obj():
    def __init__(self):
        self.name= "ami"
        self.nam1= "tumi"
        self.nam2= 'se'

creden = new_obj()
print(creden.__dict__)

{'name': 'ami', 'nam1': 'tumi', 'nam2': 'se'}

In [52]:
# problem 17
student_data = {
    'id1': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id2': {
        'name': ['David'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id3': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id4': {
        'name': ['Surya'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    }
}
print(student_data)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id3': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [47]:
df1 = pd.DataFrame(student_data)
df1

,id1,id2,id3,id4
name,[Sara],[David],[Sara],[Surya]
class,[V],[V],[V],[V]
subject_integration,"[english, math, science]","[english, math, science]","[english, math, science]","[english, math, science]"

In [51]:
dic = {}
for key ,value in student_data.items():
    if value not in dic.values():
        print(value)
        dic[key]= value

{'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}
{'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}
{'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}

In [57]:
dic = {}
for key ,value in student_data.items(): # explore to have access all the values 
    for i,j in value.items():
        if i not in dic.keys():
            print(j)
            dic[i]= j

['Sara']
['V']
['english, math, science']

In [61]:
# problem 18

dic = {}
if len(dic) > 0:
    print("yes : there is  any value ")
else:
    print("no : there is some value ")

no : there is some value

In [62]:
d1 = {'a': 100, 'b': 200, 'c':300, "a": 500}
d1

{'a': 500, 'b': 200, 'c': 300}

In [64]:

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
dic = {}
for key in set(d1.keys()) | set(d2.keys()):
    if key in d1 and key in d2:
        dic[key]= d1[key] + d2[key]
    elif key in d1:
        dic[key]= d1[key]
    else:
        dic[key]= d2[key]

dic

{'b': 400, 'c': 300, 'a': 400, 'd': 400}

In [66]:
from collections import Counter
new = Counter(d1) + Counter(d2)
new

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [67]:
Sample_Data= [{"V":"S001"}, 
              {"V": "S002"},
                {"VI": "S001"}, 
               {"VI": "S005"},
                {"VII":"S005"}, 
                {"V":"S009"},
                {"VIII":"S007"}]

Sample_Data

[{'V': 'S001'},
 {'V': 'S002'},
 {'VI': 'S001'},
 {'VI': 'S005'},
 {'VII': 'S005'},
 {'V': 'S009'},
 {'VIII': 'S007'}]

In [76]:
li= []
for i in Sample_Data:
    #print(i)
    for value in i.values():
        print(value)
        li.append(value)
print(set(li))

S001
S002
S001
S005
S005
S009
S007
{'S009', 'S002', 'S005', 'S001', 'S007'}